/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom style */

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 32px;
}
body {
	line-height: 1.5;
	font-size: 14px;
	font-family: "Edu VIC WA NT Beginner", cursive;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.column {
  flex-direction: column;
}

.padding {
	padding: 40px;
  /* margin-top: 80px; */
}

/* Header */

.header {
	background-color: #2b2349;
	padding: 16px;
  position: sticky;
  width: 100%;
  top: 0;
}

.header img {
	width: 150px;
}
.nav a {
	font-size: 20px;
	text-decoration: none;
	color: white;
  margin-right: 16px;
}

/* Sidebar */

.sidebar {
	background-color: rgb(164, 194, 236);
	padding: 20px;
	flex: 0 1 35%;
	align-self: stretch;
	border-radius: 8px;
  align-items: flex-start;
  margin-right: 40px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
}

.sidebar-nav a {
	text-decoration: none;
	color: #2b2349;
	font-weight: 1000;
	padding: 10px;
	border-radius: 4px;
}

.sidebar-nav .active {
	border: 2px solid orange;
	color: orange;
}

.logout-btn {
	justify-content: space-between;
  padding: 10px;
  color: #2b2349;
  font-size: 16px;
  width: 100%;
  text-align: left;

}

/* Article */

.article {
	background-color: rgb(242, 247, 253);
	flex: 0 1 65%;
	padding: 20px 20px;
	border-radius: 8px;
}

h1 {
	font-size: 40px;
	color: blue;
	padding: 16px 0;
	font-weight: 800;
}

p {
	font-size: 18px;
	word-spacing: 10px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.btn {
	font-size: 24px;
	color: white;
	text-decoration: none;
	padding: 10px;
	background-color: green;
	border-radius: 8px;
}

/* footer */

.footer{
  background-color: #2b2349;
  padding: 20px;
}

small{
  font-size: 24px;
  color: white;
}

.footer nav a{
font-size: 24px;
color: white;
margin-left: 16px;
}